<!DOCTYPE html>
<html>
<head>
  <title>AnimeTrip</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Jura" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "less-1.1.5.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
